name: Pull Request Target
on: 
  pull_request_target:
    branches: [master]
    types:
      - "opened"
  workflow_dispatch:
    
jobs:
  my-job:
    runs-on: self-hosted
    steps:
      - name: my-step
        run: echo "Secure workflow!"